.Address_container_div{
  width: 95%;
  height: min-content;
  /* padding: 0px 3px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid white;
  border-radius: 5px;
  padding-left: 4px;
  margin:3px;
}

.address_details p{
  font-weight: 900;
  font-size: 15px;
  margin: 0px 0px;
}

.address_button button{
  background-color: #242424;
  color: white;
  font-size: 10px;
  margin: 5px 5px;
}