.Error_container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon_error{
  font-size: 42px;
  font-weight: 700;
  margin-right:10px ;
}

.error_message{
  font-size: 42px;
  font-weight: 700;
}