html, body, #root {
  height: fit-content;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.navbar {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.footer {
  padding: 1em 0;
  background-color: #333;
  margin-top: 16px;
  text-align: center;
  bottom: 0;
}

.main_container {
  height: fit-content;
  min-height: 23vh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
}

.modalInput{
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
  text-align: center;
}

.modalLabel{
  font-size: larger;
  font-weight: 500;
  width: 100%;
  font-style: italic;
}

.form-group{
  align-self: center;
  justify-self: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  
}