html, body, #root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar, .footer {
  width: 100%;
}

.navbar {
  /* position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.main-content {
  flex: 1;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer {
  /* position: fixed; */
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #333;
  color: #fff;
  text-align: center;
  /* padding: 10px 0; */
}
